

<div class="main top-main">
  <div class="top-message">
    <h2>BOYAKI</h2>
    <p>
    人々が抱える小さな悩みをボヤくことができるSNSサービス。
    </p>
    <p>
    返信・高評価機能を省き、タイムラインに流れてくるのはユーザーが非公開のBOYAKIのみ。
    </p>
    <p>
    あなたの小さな悩みを口に出せなくても、ここでなら出せます。
    </p>
    <p>
    ひょっとしたら、あなたと同じ悩みを感じている人がいるかも知れません。
    </p>
    
  </div>
</div>

